@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/*BREAKPOINTS

smart  -- 320px -- 544px
tablet -- 545px -- 768px
laptop -- 769px -- + and up*/

/*---------------- Break Code ----------------*/

body {
  background-image: url(images/abstract-gem-pattern-background-vector.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px 20px 30px 20px;
}

header {
  text-align: center;
  margin: 0px 0px 35px 0px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  font-weight: 100;
  padding: 10px 10px;
  text-shadow: 10px 10px 5px #888888;
}

hr {
  width: 100%;
  color: red;
  /*box-shadow: 2px 2px 2px red;*/
}

.music-player {
  padding: 20px;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 10px 5px 10px 5px;
}

#search-bar {
  width: 78%;
  padding: 20px;
}

#search-button {
  width: 20%;
  padding: 5px;
  border-radius: 5px;
  background-color: #C2AF8A;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.results {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0px;
}


.song-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 1px solid gray;
  background-color: white;
  width: 100vw;
  margin: 5px 0px;
}

img {
  border: 5px solid white;
  height: 80px;
  width: 80px;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  color: black;
}


p {
  /*padding: 0;*/
}


/*---------------- Break Code ----------------*/

@media screen and (min-width: 545px) {

  h1 {
    font-size: 40px;
    font-weight: 200;
  }

  .song-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 160px;
    margin: 10px 0px;
  }

  img {
    border: 2px solid white;
    height: 130px;
    width: 130px;
  }

  .image {
    padding: 8px;
    margin: auto;
  }

  .title {
    font-size: 12px;
    padding: 20px;
  }

}

@media screen and (min-width: 769px) {

  h1 {
    font-size: 50px;
    font-weight: 500;
  }

  .song-wrapper {
    width: 235px;
    margin: 15px 0px;
  }

  img {
    border: 5px solid white;
    height: 180px;
    width: 180px;
  }

  .title {
    font-size: 15px;
    padding: 20px;
  }

}
